.mainDiv{
	border: 2px solid;
	margin: 2%;
	padding-bottom: 2%;
}

/*about me*/
.aboutImg {
	padding: 2%;
	background-color: white;
}

.aboutPara {
	padding: 2%;
	background-color: white;	
	font-size: 18px;
}
