.shopRow {
        /* The image used */
	background-image: url("https://hdwallsource.com/img/2014/7/meadow-background-29588-30307-hd-wallpapers.jpg");

	/* Set a specific height */
	height: 100%;
  
	/* Create the parallax scrolling effect */
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.shopCardDiv {
    margin: 5%;
}