/* .page-footer {
    background-color: #6899e8;
} */

#contact {
    color: white;
}

.fa-facebook {
    margin-left: 5px;
    background-color: white;
    font-size: 25px;
}

.fa-twitter {
    margin-left: 5px;
    background-color: white;
    font-size: 25px;
}